<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Uday Singh</h1>
    <p>In an attempt to sharpen my Rails, I've been looking for tutorials and building projects</p>
    <p>This week, with help from Mackenzie - I built a blog. This is the live demo.</p>
    <p>Let me know if you want to contribute or help build this project into something bigger</p>
  </div>
</div>