<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
 
  <div id="content clearfix">
    <h1>Welcome to Delta Sigma Phi Post</h1>
    <p>Delta Sigma Phi is a national, not-for-profit fraternity that works to better its members and help its community. Founded on December 10, 1899 at the College of the City of New York, Delta Sig has grown significantly over the years with 103 active chapters in the United States. In 113 years of history, over 115,000 men have initiated into Delta Sigma Phi. Today, there are 85,000 living alumni and more than 5,000 undergraduates.</p>
    <p>This is the messaging system built for posts, memos, and messages for the frat. Since all users have access to the delete fuction, you are encouraged to moderate and delete posts you think are inappropriate for the forum.</p>
  </div>
</div>